@charset "UTF-8";
/*variables*/
/* Cabecera y menú */
.nav {
  background-color: #040458;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  font-size: 20px; }

.nav-tabs {
  margin: 0;
  padding: 0;
  border-bottom: 0; }

.navbar-light {
  font-size: 20px;
  color: green; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: green; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #040458; }
  .navbar-light .navbar-brand {
    color: lightgreen;
    font-size: 20px;
    font-weight: 700; }

.nav-item {
  border-radius: 0%; }

.nav-link {
  color: lightgreen; }
  .nav-link:hover {
    text-decoration: none;
    color: white; }

.font-weight-bold {
  color: lightgreen; }

.dropdown-menu {
  background-color: #040458; }

.dropdown-item {
  color: white; }

/* Parallax */
.parallax {
  background-image: url("../img/perifericos_comunicaciones_electricos.jpg");
  height: 80vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 3vw;
  padding-top: 20vw;
  margin: 0; }
  .parallax h4 {
    font-size: 3rem;
    text-align: left;
    color: white; }
  .parallax p {
    font-size: 2rem;
    text-align: left;
    color: white; }

/* Contenedor bootstrap y Jumbotron */
.container-fluid {
  padding: 0; }

.jumbotron {
  background-color: #040458;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0%;
  padding: 0;
  padding-top: 0.5rem; }
  .jumbotron h1 {
    color: lightgreen; }
  .jumbotron p {
    margin-bottom: 0; }

/* Tarjetas en contenedor */
.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #040458;
  gap: 1%; }

.card-body {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: darkgreen; }

.card {
  border: 3px solid #040458;
  margin-bottom: 10px;
  padding-top: 20px; }

.card:hover {
  transform: scale(1.03);
  transition: all 1s;
  border-color: green; }

.btn {
  background-color: #040458;
  color: white; }

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain; }

/* Formulario y mapa */
.formulario {
  color: white;
  background-color: #040458;
  /*padding-top:5%;*/
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%; }

.titulos_pagina_contacto, .titulo_formulario, .titulo_mapa {
  text-align: center;
  color: lightgreen; }

.titulo_formulario {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #040458; }

.titulo_mapa {
  padding-bottom: 10px; }

.mapa_oficina {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #040458; }

/* Footer */
.page-footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center; }

/* medias queries */
/* vista desktop */
@media only screen and (min-width: 1024px) {
  .parallax {
    height: 80vh;
    width: 100%;
    padding-left: 3vw;
    padding-top: 20vh; }
    .parallax h4 {
      font-size: 3rem; }
    .parallax p {
      font-size: 2rem; } }

/* vista tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .parallax {
    height: 80vh;
    width: 100%;
    padding-left: 3vw;
    padding-top: 20vh; }
    .parallax h4 {
      font-size: 2.5rem; }
    .parallax p {
      font-size: 1.8rem; } }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .parallax {
    height: 90vh;
    width: 100%;
    padding-left: 3vw;
    padding-top: 30vh; }
    .parallax h4 {
      font-size: 2rem; }
    .parallax p {
      font-size: 1.5rem; }
  .flexContainer {
    display: flex;
    flex-direction: column; } }
